body {
	background-color: #3385ff;
	width: 100%;
	display: inline-block;
	margin: 0;
}

h1 {
	width:100%;
	text-align: center;
	font-size: 60px;
}

header {
	background-color:#ffd11a;
	border: 2px solid black;
	margin-bottom: 50px;
}

section {

	width: 70%;
	margin: 0;
	float: left;
}

img {
	border: 2px solid black;
	border-radius: 50%;
	width: 460px;
	margin: 0 17%;
}

a {
	background-colr: #ffd11a;
	display: block;
	float: clear;
	font-size: 35px;
	text-align: center;
}

.text {
	background-color: #ffd11a;
	border-radius: 30%;
	border: 2px solid black;
}

h2 {
	text-align: center;
}

li {
	display: inline;
	margin: 0 10px;
}

button {
	background-color: #ffd11a;
	border: 2px solid black;
	border-radius: 50%;
	width: 100px;
	margin-top: 200px;
	height: 100px;
	font-size: 20px;
}

.prev {
	float: left;
	margin-left: 10px;
}

.next {
	float: left;
	margin-right: 10px;
}
